<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="finance/layout (type=${action})">
    <div class="container-fluid" th:fragment="content">
        <div class="row page-titles">
            <div class="col-md-3 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">FTP</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/finance/index}">Home</a></li>
                    <li class="breadcrumb-item active">FTP</li>
                </ol>
            </div>
            <div class="col-md-3 col-8 align-self-center">
                <ol class="breadcrumb ftp-menu">
                </ol>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <a th:href="@{/finance/index}" class="btn pull-right hidden-sm-down btn-success">刷新</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3" style="max-height: 650px;overflow-y: auto">
                <div class="card">
                    <div class="card-block">
                        <form id="fileForm" class="form-horizontal form-material" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label class="col-md-12">文件选择</label>
                                <div class="col-md-12">
                                    <input type="text" disabled class="form-control form-control-line fileName"/>
                                    <input type="file" id="file" name="file" style="position: absolute;top:0;left: 0;opacity: 0;width: 100%;height: 100%"/>
                                    <script>
                                        $("#file").on('change', function( e ){
                                            var name = e.currentTarget.files[0].name;
                                            $(".fileName").val(name);
                                         });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">保存名</label>
                                <div class="col-md-12">
                                    <input type="text" name="fileName" class="form-control form-control-line fileName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">文件夹</label>
                                <div class="col-md-12">
                                    <input name="folder" class="form-control form-control-line"/>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" id="submnitBtn" onclick="uploadFile()">上传</button>
                                <span class="fa fa-spin fa-spinner" style="display:none"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9" style="min-height: 650px;overflow-y: auto">
                <table class="table stylish-table">
                    <tr>
                        <th style="width:100px;text-align: center">标识</th>
                        <th>类型</th>
                        <th>名称</th>
                        <th>大小</th>
                        <th>操作</th>
                    </tr>
                    <tbody class="fileList">
                    </tbody>
                </table>
                <script th:src="@{/finance/js/ftp.js}"></script>
            </div>
        </div>
        <!--START播放器插件-->
        <div class="audio-box">
            <div class="audio-container">
                <div class="audio-cover"></div>
                <div class="audio-view">
                    <h3 class="audio-title">未知歌曲</h3>
                    <div class="audio-body">
                        <div class="audio-backs">
                            <div class="audio-this-time">00:00</div>
                            <div class="audio-count-time">00:00</div>
                            <div class="audio-setbacks">
                                <i class="audio-this-setbacks">
                                    <span class="audio-backs-btn"></span>
                                </i>
                                <span class="audio-cache-setbacks">
</span>
                            </div>
                        </div>
                    </div>
                    <div class="audio-btn">
                        <div class="audio-select">
                            <div class="audio-prev"></div>
                            <div class="audio-play"></div>
                            <div class="audio-next"></div>
                            <div class="audio-menu"></div>
                            <div class="audio-volume"></div>
                        </div>
                        <div class="audio-set-volume">
                            <div class="volume-box">
                                <i><span></span></i>
                            </div>
                        </div>
                        <div class="audio-list">
                            <div class="audio-list-head">
                                <a href="javascript:;">我的歌单</a>
                                <span class="fa fa-window-close-o menu-close"></span>
                            </div>
                            <ul class="audio-inline">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/finance/js/audio.js}"></script>
            <script type="text/javascript">
                var audioFn;
                $(function(){
                    var song = [{
                        'cover' : 'assets/images/music/cover.jpg',
                        'src' : 'http://47.105.192.33/big/music/崔天琪 - 放过.mp3',
                        'title' : '崔天琪 - 放过'
                    }];
                    audioFn = audioPlay({
                        song : song,
                        autoPlay : false  //是否立即播放第一首，autoPlay为true且song为空，会alert文本提示并退出
                    });
                    /* 暂停播放 */
                    //audioFn.stopAudio();
                    /* 开启播放 */
                    //audioFn.playAudio();
                    /* 选择歌单中索引为3的曲目(索引是从0开始的)，第二个参数true立即播放该曲目，false则不播放 */
                    //audioFn.selectMenu(3,true);
                    /* 查看歌单中的曲目 */
                    //console.log(audioFn.song);
                    /* 当前播放曲目的对象 */
                    //console.log(audioFn.audio);
                });
                //添加音乐
                function addMusic(path,name) {
                    /* 向歌单中添加新曲目，第二个参数true为新增后立即播放该曲目，false则不播放 */
                    audioFn.newSong({
                        'cover' : 'assets/images/music/cover.jpg',
                        'src' : 'http://47.105.192.33/'+path+'/'+name,
                        'title' : name
                    },true);
                }
            </script>
        </div>
        <!--END播放器插件-->
    </div>
</html>
